extends ../layouts/common

block content
    h1 Create user 

    form(action="/user/create" method="POST" enctype="multipart/form-data")
        .form-group
            label(for='exampleInputEmail1') Name
            input.form-control(type='name' name='name' placeholder='Enter name' value=value&&value.name?value.name:'')
            if error&&error.isNameRequired
                div(class="alert alert-danger" role="alert")=error.isNameRequired
            label(for='exampleInputEmail1') Phone
            input.form-control(type='number' name='phone' placeholder='Enter phone' value=value&&value.phone?value.phone:'')
            if error&&error.isPhoneRequired
                div(class="alert alert-danger" role="alert")=error.isPhoneRequired
            label(for='exampleInputEmail1') Image
            input.form-control-file(type='file' name='avatar')
        button.btn.btn-primary.ml-0(type='submit') Create
