extends ../layouts/common

block content
    h1 Products
    form(style="display:flex")
        div(class="input-group" style="width:50%")
            div(class="input-group-prepend")
                span(class="input-group-text" id="basic-addon1") @
            input(name='name' type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1")
        button.btn.btn-dark Search
    nav(aria-label='Page navigation example')
    div 
        ul.pagination
            li.page-item
                a.page-link(href='/product/?page='+previous aria-label='Previous')
                    span(aria-hidden='true') &laquo;
                    span.sr-only Previous
            each val in arrPage
                li.page-item
                    a.page-link(href='/product/?page=' + val)=val
            li.page-item
                a.page-link(href='/product/?page='+next aria-label='Next')
                    span(aria-hidden='true') &raquo;
                    span.sr-only Next
        div Cart: 
            span=countProduct
    .row
        each val in products
            .col-sm-3.mb-4
                .card(style='width: 15rem;')
                    img.card-img-top(src=val.image alt='...')
                    .card-body
                        h5.card-title=val.name
                        p.card-text
                            | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
                        a.btn.btn-primary(href='/cart/add/:' + val.id) Add to Cart